*{
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:100vh;
}
@font-face {
  font-family: 'PervitinaDex';
  src: url('clone-site-moto/fontes-texto/Pervitina-Dex-FFP.ttf') format('truetype');
}
:root {
    --cor00: #000000;
    --corff: #ffffff;
    --corprimary: #D90404;
    --corsecondary: #730202;
    --corgray: #7E7765;
    --font: Arial, Verdana, sans-serif;
}
.home{
  margin-left: 200px;
}
#header{
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #DEDEDE;
  position: absolute;
  align-items: center;
  z-index: 2;
  padding-top: 4px;
  padding: 8px;
  position:fixed;
}

#d2{
  display:block;
}
.dropdown {
  display: inline-block;
  padding: 75px;
  justify-content: space-between;
}


/* Estilo do botão principal */
.dropdown a{
  background-color: #DEDEDE;
  color: black;
  padding: 12px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}
/* ID Botões da navbar */
#bmodelos{
  border:1px solid #F37A8C;
}
#bacessorios{
  border: 1px solid #7AD1CC;
}
#bnoticias{
  border:1px solid #CDA77C;
}

/* Estilo do conteúdo do dropmenu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo dos itens do dropmenu */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
}

/* Estilo dos itens do dropmenu ao passar o mouse */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content div{
 width:160px;
 height:280px;
}

/* Mostra o conteúdo do dropmenu quando o mouse está sobre o botão */
.dropdown:hover .dropdown-content {
  display: flex;
}

.Menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link{
  padding: 5px;
}

.contato {
  position: fixed;
  right: 20px;
  z-index: 9999;
  display: flex;
  align-items: baseline;
}

.contato a {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 30px;
}



#tmodelos{
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: 'PervitinaDex', sans-serif;
}

.card-body{
  border-radius: 8px;
  border: 1px solid #F37A8C;
  padding:8px;
}

.col{
   padding: 8px; /*alterando distancia entre os cards */
   display: flex;
}
main {
  margin: auto;
  width: 100%;
  background-color: var(--corff);
}

.swiper img{
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.swiper-pagination{
   margin-bottom: 10px; /*Subindo altura das "bolinhas" do carrossel} */
}

.card {
  margin: auto;
  border-width: 0; /*retirando "sobra" do tamanho do card em relação a borda onde fica o nome */
  display: flex;
}

.card-body:hover{
  cursor: pointer;
}

#tacessorios{
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: 'PervitinaDex', sans-serif;
}

.col2{
  padding: 8px; /*alterando distancia entre os cards */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-top{
    border-radius: 5% 5% 0 0;
}

.card2{
  margin: 0;
}

.card-body2{
  border-radius: 0 0 6% 6%;
  border: 1px solid #4DC7C0;
  padding:8px;
}
.card-body2:hover{
  cursor: pointer;
}

#tnoticias{
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: 'PervitinaDex', sans-serif;
}
.col3{
  padding: 8px; /*alterando distancia entre os cards */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card3{
  margin: 0;
}

.card-body3{
  border-radius: 0 0 6% 6%;
  border: 1px solid #D2AC81;
  padding:8px;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}
